@font-face {
   font-family: 'helveticaneueitalic';
   src: url('../fonts/helveticaneueit-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneueit-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'helveticaneuemedium';
   src: url('../fonts/helveticaneue_medium-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneue_medium-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'ralewaysemibold';
   src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
        url('../fonts/raleway-semibold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

// $logo-description:'helveticaneuemedium';
// $fieutures-fonts:'ralewaysemibold';
// $fieutures-description:'Helvetica-Neue';
// $testimonials-quote:'helveticaneueitalic';

// <li>
//   <a href="javascript::">
//     <img src="img/img_0.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_1.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_2.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_3.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_4.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_5.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_6.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_7.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_8.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_9.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_10.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_11.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_12.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_13.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_14.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_15.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_16.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_17.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_18.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_19.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_20.png" alt="">
//   </a>
// </li>
// <li>
//   <a href="javascript::">
//     <img src="img/img_20.png" alt="">
//   </a>
// </li>
