.banner {
  background: url(../img/banner-pic.png) no-repeat center center;
  background-size: cover;
}
.banner-content{
  width:60%;
  margin:0 auto;
  padding: 11.5% 0;
  h1 {
    font-family: $main-font;
    color:$logo-description-color;
    margin:1.5% 0;
    font-size: 2vw;
    line-height: 1.5;
  }
}
nav ul li {
  display:inline-block;
}
nav ul li:nth-child(2) {
  margin: 1%;
}
nav ul li a {
  border-radius: 50%;
  background-color: black;
  opacity: 0.4;
  display:inline-block;
  text-align: center;
  font-size: 2em;
  width:3em;
  height: 3em;
  line-height: 3em;
  i {
    color:white;
    font-size: 1.5vw;
  }
}
nav ul li a:hover {
  background-color: $main-green;
  transition: 0.3s;
  opacity: 1;
}

//intro

.intro {
  background-color:white;
  text-align: center;
}

.feature {
  display:inline-block;
  width:33.33333333%;
  margin:0 -0.28em;


  h2 {
    padding: 5%;
    font-size: 1.5em;
    font-family: $features-fonts;
  }
  h4 {
    color: $main-text-color;
    padding: 0 10%;
    font-family: $main-font;
  }
}

.feat-img {
  display:inline-block;
  background-color: $main-green;
  border-radius: 50%;
  margin:0 auto;
  width:8em;
  height: 8em;
  line-height: 11em;
  i {
    color:white;
    font-size: 5em;
  }
}

// subscribe

.subscribe {
  background-color: $color-notify-and-footer;
}
.subscribe-info {
  padding:0 12% 0 4%;
  width:40%;
  display:inline-block;
  vertical-align: top;
  h2 {
    font-family: $features-fonts;
    font-size: 1.5em;
  }
  p {
    width:100%;
    padding:3% 0;
    line-height:1.6em;
    font-family: $main-font;
    color:$main-text-color;
  }
  .subscribe-form{

  }
  input {
    border:0;
    padding:15px 35px;
    margin:-2px;
    font-size: 1.3em;
  }
}
input:first-child {
  border-radius:10px 0 0 10px;
}
.submit-btn {
  background-color: $main-green;
  border-radius:0 7px 7px 0;
  margin:-2px;
  font-family:$features-fonts;
  color: $logo-description-color;
  font-weight: bold;
}
.submit-btn:hover {
  cursor: pointer;
}
.subscribe-video{
    width:40%;
    display:inline-block;
    // padding-left: 7%;
    iframe {
      width:100%;
      height:19.6875em;
      margin:0 auto;
      border-radius: 1.25em;
    }
  }

// testimonials
.testimonials{
  background-color: white;
  text-align: center;
  h4{
    font-family:$testimonials-quote;
    color:$main-text-color;
  }
  h3{
    font-family:$features-fonts;
    font-weight: bold;
    font-size: 20px;
    padding:2% 0;
  }
}
.people{
  display:inline-block;
  width:100%;
  overflow:hidden;
  position: relative;
  z-index:9;
  ul li {
    display:inline-block;
    margin: 0 0.2%;
    img {
      -webkit-filter:grayscale(79%);
      -moz-filter:grayscale(79%);
      -o-filter:grayscale(79%);
      -ms-filter:grayscale(79%);
         filter:grayscale(79%);
         -webkit-transition:0.2s cubic-bezier(.93,.66,0,.6);
         -o-transition:0.2s cubic-bezier(.93,.66,0,.6);
         -moz-transition:0.2s cubic-bezier(.93,.66,0,.6);
         transition:0.2s cubic-bezier(.93,.66,0,.6);
    }
    img:hover{
      -webkit-filter:grayscale(0%);
      -moz-filter:grayscale(0%);
      -o-filter:grayscale(0%);
      -ms-filter:grayscale(0%);
    }
  }
}
.people-list {
  display: inline-block;
}
.people-list::before{
  content:'';
  position:absolute;
  right:0;
  top:0;
  margin:0;
  padding:1.85em 1.79em;
  @include slider-gradient-right();
  z-index:10;
}
.people-list::after{
  content:'';
  position:absolute;
  left:0;
  top:0;
  margin:0;
  padding:1.85em 1.79em;
  @include slider-gradient-left();
  z-index:10;
}

.social {
  padding: 1.5% 1.5% 0 1.5%;
  ul li {
    display:inline-block;
    border-radius: 50%;
    margin:0 .3%;
    a {
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      line-height: 2.9;
      background-color: black;
      opacity: 0.4;
      display:inline-block;
      i {
        color:white;
        font-size: 1.5em;
      }
      &:hover {
        background-color: $main-green;
        transition: 0.5s;
        opacity: 1;
      }
    }
  }
}

//footer
footer{
  background-color:$color-notify-and-footer;
  color:$main-text-color;
  font-family: $features-fonts;
  text-align: center;
  padding:40px 0;
  ul li {
    display:inline-block;
    vertical-align:top ;
    text-align: center;
    padding:0% 1.5%;
    font-size:1em;
    a {
      text-decoration: none;
    }
  }
}
