$mobile: 600px;
$tablet: 900px;
$laptop: 1200px;
$desktop: 1800px;

// @media (max-width:1920px){
//   body,html{
//   	font-size:100%;
//   	font-size:0.81vw;
//   }
// }

// --- MOBILE ---
@media screen and (max-width: $mobile) {


}

// --- TABLET ---

@media screen and (max-width: $tablet) {
  .banner-content{
    width: 100%;
    text-align: center;
  }
  .feature{
    width:100%;
    h4 {
      padding-bottom:5%;
    }
  }
  .subscribe-info{
    width: 100%;
    text-align: center;
  }
  .subscribe-video{
    display:none;
  }
}
// --- LAPTOP ---

@media screen and (max-width: $laptop) {
  .subscribe-info {
    width: 60%;
    text-align: center;
    padding:0;
  }
  .subscribe-video{
    display: none;
  }
}
// --- DESKTOP ---

@media screen and (max-width: $desktop) {
  .subscribe-info {
    width: 45%;
    padding:0 7% 0 4%;
  }
  .subscribe-video{
    width: 40%;
    padding:0;
    margin: 0 auto;
  }
}
