
$main-green: hsla(152, 100%, 40%, 1);
$main-text-color:hsla(0, 3%, 59%, 1);
$logo-description-color:hsla(0, 100%, 100%, 1);
$color-notify-and-footer: hsla(0, 0%, 89%, 1);


$main-font:'helveticaneuemedium';
$testimonials-quote:'helveticaneueitalic';
$features-fonts:'ralewaysemibold';
