<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/assets/styles.css">
  </head>
  <body>
    <div id="todo-table">
        <input id="todo-item" type="text" name="item" placeholder="Add new item..." required />
        <button onclick="createTodo();"> Add Item</button>
      <div id="todo-list">

      </div>
    </div>

    <script type="text/javascript">

      document.addEventListener('keydown', (event) =>{
  	    if (event.key === 'Enter' && document.getElementById('todo-item').value) {
          createTodo()
        }
      })

      const loadTodos = (todos) => {
        let outputs;
        outputs = "<ul>";
        for(let i = 0; i<todos.length; i++){
          outputs += '<li onclick="deleteTodo()">' + todos[i].item + '</li>';
        }
        outputs += "</ul>";

        return outputs
      }

      // loadTodos(todos)

      const renderTodos = () => {
        const xhr = new XMLHttpRequest()
        xhr.open('GET', 'todos.json', true)
        xhr.send()
        xhr.onload = () => {
          if(xhr.readyState === 4 && xhr.status === 200) {
            let resTodos = JSON.parse(xhr.responseText)
            let container = document.getElementById('todo-list')
            return container.innerHTML = loadTodos(resTodos.todos)
          }
        }
      }

      renderTodos()

      const createTodo = () => {
        const xhr = new XMLHttpRequest();
        let newItem = document.getElementById('todo-item');

        if (newItem.value) {
          xhr.open('POST','todo');
          const obj = `item=${newItem.value}`;
          xhr.onreadystatechange = () => {
            if(xhr.readyState == 4 && xhr.status == 200) {
              renderTodos();
              newItem.value = '' // resets input field
            }
          }
          xhr.send(obj);
        }
      }

      const deleteTodo = () => {
        const xhr = new XMLHttpRequest();
        var delTodo = this.event.target.innerHTML
        console.log(delTodo)
        xhr.open('DELETE', `/todo/${delTodo}`, true)
        xhr.send()
        xhr.onreadystatechange = () => {
          if(xhr.readyState == 4 && xhr.status == 200) {
            renderTodos();
          }
        }
      }

    </script>
  </body>
</html>
