body,html{
    @include font-constructor(); /* values --> fallback , vw-font*/
	margin:0;
	padding:0;
}
.container-full{
	width:100%;
}

.container {
  width:75%;
  margin:0 auto;
  padding:3% 0;
}
.content {

}
