<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <div id="todo-table">
      <form method="post">
        <input id="todo-item" type="text" name="item" placeholder="Add new item..." required />
        <button type="submit"> Add Item</button>
      </form>
      <div id="todo-list">
        <!-- <ul>
          <% for(let i = 0; i < data.length; i++) { %>
            <li><%= data[i].item %></li>
          <% } %>
        </ul> -->

      </div>

    </div>

    <script type="text/javascript">
    // var todos = <%-JSON.stringify(data)%>
    // console.log(todos.length)

    const loadTodos = (todos) => {
      // console.log(todos)
      console.log(todos)
      let outputs
        outputs = `
          <ul>
            <% for(let i = 0; i < data.length; i++) { %>
              <li><%= data[i].item %></li>
            <% } %>
          </ul>
        `
      return outputs
    }

    // loadTodos(todos)

    const renderTodos = () => {
        console.log('blah')
        const xhr = new XMLHttpRequest()
        xhr.open('GET', 'todos.json', true)
        let resTodos = ''
        xhr.onload = () => {
          if(xhr.readyState === 4) {
            if(xhr.status === 200 || xhr.status == 0) {
              resTodos = JSON.parse(xhr.responseText)
              let container = document.getElementById('todo-list')
              return container.innerHTML = loadTodos(resTodos)
            }
          }
        }
        xhr.send()
    }

    renderTodos()

    const createTodo = () => {

      const xhr = new XMLHttpRequest()
      const newItem = document.getElementById('todo-item')
      xhr.open('POST','todos.json')
      xhr.send([{item: newItem}])

      xhr.onreadystatechange = () => {
        if(xhr.readyState == 4 && status == 200) {
          renderTodos()
        }
      }

    }


    </script>
  </body>
</html>
